@model ModelEF.EF.ChuyenMuc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChuyenMuc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaiChuyenMuc.TenLoaiChuyenMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiChuyenMuc.TenLoaiChuyenMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuyenMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuyenMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuotXem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trangthai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChuyenMuc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
